<div id='page_effect'>
  <div id='header'>
    <%= render :partial => 'shared/talkie' -%>
  </div>
  <div id='gameboard'>
    <div id='buttons'>
      <ul>
        <li><a href='#'>Play</a></li>
        <li><a href='#'>Surf the web</a></li>
        <li><a href='#'>Resources</a></li>
        <li><a href='#'>Headset</a></li>
        <li><a href='#'>Map</a></li>
        <li><a href='#'>Speak</a></li>
        <li><a href='#'>Break</a></li>
      </ul>
    </div>
    <img src='/images/ui/switchboard.jpg'/ width='610' height='450'>
  </div>
</div>
