<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.marquee.js' -%>
<% end -%>

<% content_for :talkie do -%>
  <% form_tag({:controller => 'users', :action => 'create'}, {:method => 'post', :id => 'begin'}) do -%>
    <input type='submit' value='Begin?' name='register_with_oauth' id='user_submit' class=''/>
  <% end -%>
<% end -%>

<div id='page_effect'>
  <div id='header'>
    <%= render :partial => 'shared/talkie' -%>
  </div>
  <div id='content'>
    <marquee behavior='alternate' direction='up' scrollamount='50' loop='1' height='355'>
      <pre>
00L31.L4101010101001011010101011001010010100100101001111.10100110010101010101011111010010011
1105UTTR.33011110001010001010100101010011.01010101001101010101010.10101010011011111010010011
1101FU51.0N01010001010100101000011110100101010101001001e010100101010100101010101011010010011
01001R34DY11001010010100101010100101010010100101011.0101010.01100101010101110101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
!e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011000001001
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111000010011
re0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011000010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
!e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011000010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101000010011
0101010101e0101010010100101010.010100100101101010010100100101010.010100101010101101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
00L31.L4101010101001011010101011001010010100100101001111.10100110010101010101011111010010011
1105UTTR.33011110001010001010100101010011.01010101001101010101010.10101010011011111010010011
1101FU51.0N01010001010100101000011110100101010101001001e010100101010100101010101011010010011
01001R34DY11001010010100101010100101010010100101011.0101010.01100101010101110101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011000010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011010010011
01010101000011101010010101001010101101010010010101010110101000010010101010001011011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
11010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
00000010101000101010010101001010010010100101010100101010111010101010001001101100111010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
0e0100000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011000010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
0101010101e0101010010100101010.010100100101101010010100100101010.010100101010101101010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101010100101010010100101010.010100100101101010010100100101010.010100101010100101010010011
111010110110110E011011011001010100E010010101010010100100100F010101001010100.F000111010010011
10101011010101011010111010100111010101010010100010101010100100110110101010100101111010010010
00L31.L4101010101001011010101011001010010100100101001111.10100110010101010101011111010010011
1105UTTR.33011110001010001010100101010011.01010101001101010101010.10101010011011111010010011
1101FU51.0N01010001010100101000011110100101010101001001e010100101010100101010101011010010011
01001R34DY11001010010100101010100101010010100101011.0101010.01100101010101110101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
!e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011000001001
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111000010011
re0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011010010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011000010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
~1010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
!e0A00000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011000010011
010101.101.010101001010.101010.010100100101.01010010100100101010.01010010101010.101000010011
0101010101e0101010010100101010.010100100101101010010100100101010.010100101010101101010010011
.010101.01.01.0E01.01.01.00101010.E01.01010.010010100100100F010101001010100.F000101010010011
1010100101010101101011101010011111010101001010001010101010:1001.0110101010100101011010010011
00L31.L4101010101001011010101011001010010100100101001111.10100110010101010101011111010010011
1105UTTR.33011110001010001010100101010011.01010101001101010101010.10101010011011111010010011
1101FU51.0N01010001010100101000011110100101010101001001e010100101010100101010101011010010011
01001R34DY11001010010100101010100101010010100101011.0101010.01100101010101110101011010010011
11111125.01.10111010101011111111101010101001110101000101010101010111111111111010111010010011
1111111000101010100010000110010101!01010101001011..1101010010100101010100e001001011000010011
010010100101010100e00100101010101!01010100100100101010101001011:010100101010110e011010010011
01010101000011101010010101001010101101010010010101010110101000010010101010001011011010010011
1010001010100101010011.010101010011e01010101001010100f0101010011001!010101010101011010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
11010100101010100101010100001010101010001010100101010010101010101001010100101100111010010011
E010010100001001010001010B010100100010100101010010000000000010100101001010100010011010010011
00000010101000101010010101001010010010100101010100101010111010101010001001101100111010010011
90101010010100010010010010010001B10010100101010010010001001010011010110010101001001010010011
0e0100000A000A0000AA00A00010010101001010100101110100110101010010100010011:100101011000010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
0101010101e0101010010100101010.010100100101101010010100100101010.010100101010101101010010011
11101001010101001010010101001010010100101010001010010101010010010101001010100101011010010011
010101010100101010010100101010.010100100101101010010100100101010.010100101010100101010010011
111010110110110E011011011001010100E010010101010010100100100F010101001010100.F000111010010011
10101011010101011010111010100111010101010010100010101010100100110110101010100101111010010010
FUSION READY. PROGRAMME STARTING.
      </pre>
    </marquee>
  </div>
</div>